.aloha-logo {
background:mg src="images/cart-icon.svg" alt="Shopping Cart Image;
/* width: 20%; */
/* min-width: 20%; */
}

.shopping-cart {
  display: flex;
  align-items: right;
  width:40px;
}

.header a {
  color: #e2574c;
  display: inline;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}
/* .aloha-logo { */
 

/* .container 

    shopping-cart */

.nav {
  display: flex;
  list-style-type: none;
  margin: 20px;
  justify-content: space-around;
  text-shadow: 3px,3px,3px;
  /* flex-direction: */
  /* text-decoration: */
}

.banner {
  color: white;
  height: 400px;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 50px;
  border: 10px;
  margin: 15px;
  line-height: 1.5;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-size: cover, 150px;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  width: 100%;
  /* position: relative; */
}

.banner-writing container {
  color: #fff;
  /* text-align: center; */
  font-family: Playfair Display;
  align-content: center;
}

.about {
    color: black;
    max-width: 100%;
    height: 350px;
    padding: 20px;

  /* height: 800px */
}

.Subscibe-Button {
  padding: 10 px;
  cursor: pointer;
  border-radius: 12px;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: #b64036;
  text-decoration: underline;
}

.Shop {

  margin: 0 auto;
  max-width: 1240 px;
  border: 10px;

  .MEN'S {
      background: src="/images/mens-category.jpg);
  }
}
.h1 {
  text-align: center;
}

.Updates-Section {
  background-image: url(images/wave-bkgd.jpg);
}

/* .Subscribe-Button {
} */

.Featured {
  margin: 0 auto;
  max-width: 1240 px;
}

.social-media ul{
    list-style-type: none;
}

.Subscribe-Button {
  background: red;
  border: 2px solid #e2574c;
  border-radius: 50%;
}

.footer {
  background-color: #242424;
  color: white;
  text-align: center;
}

.container {
  display: flex; /* or inline-flex */
}

@media screen and (max-width: 960px) {
  body {
    color: red;
  }
}

.mens-catagory {
    background: src="/images/mens-category.jpg" alt="Guy in shorts holding sunglasses;
}
