#main[tabindex="-1"]:focus {
  outline: 0;
}

.p {
  font-size: 14px;
}

.aloha-logo {
  height: 50px;
  padding: 15px;
  cursor: pointer;
  order: 0;
}

.shopping-cart {
  align-self:flex-end;
  height: 50px;
  padding: 15px;
  cursor: pointer;
  text-align: right;
  order: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  font-family: 'Playfair Display', serif;
}

.nav {
  display: flex;
  font-family: Raleway Web, sans-serif;
  list-style-type: none;
  justify-content: space-around;
  color: #e2574c;
}

a {
  color: #e2574c;
  text-decoration: none;
}

.about {
  text-align: center;
  padding: 4rem;
}

.hand-crafted-text {
font-size: 1.4rem;
}

.only-the-finest {
font-size: 14px;
font-family: 'Raleway Web', sans-serif;
font-weight: 200;

}

.shop-section a {
  color:white;
}

a:hover {
  color: #b64036;
  /* text-decoration: underline; */
}

element.style {
  color: #b64036;
}

.p {
  font-family: 14px 'Raleway Web', sans-serif;
}

.banner {
  height: 370px;
  position: relative;
  /* padding: 50px; */
  /* border: 10px;
  margin: 15px; */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  background-size: cover, 150px 369px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  width: 100%;
  min-width: 600px;
  justify-content: center;
}

.banner-writing {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-family: 'Playfair Display', Serif;
  /* align-content: center; */
  position: absolute;
  /* position: relative; */
  box-sizing: border-box;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  top: 50%;
  transform: translate( 13%, -50%);
  width: 80%;
}

.new-collection {
  font-size: 2em;
  font-family: 'Raleway Web', sans-serif;
  /* font-weight: 200; */
  /* color: #2d2d2d; */
  /* max-width: 100%;
  height: 200px;
  padding: 20px;
  text-align: center;
  justify-content: center; */

  /* height: 800px */
}

.season-date {
font-weight: 400px;
font-size: 2.5rem;

}

.h2 {
  font-family: 24px;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  /* box-sizing:border-box; */
  width: 100%;
  min-width: 600px;
  /* @media only screen and (min-width: 600px); */
  /* border: 20px white; */
  /* background-size: cover, cover; */
  /* display: block; */
  /* .mens-catagory {
      background: src="/images/mens-category.jpg); */
}

.h1 {
  text-align: center;
  min-width: 600px;
}

h3 {

  color: #e2574c;
  font-family: 'Playfair Display Web', Serif;
  font-size: 1.5rem;
}

p .main-carousel{
  color: #969696;
  font-family: "Raleway Web";
  font-weight: 700;
}

.carousel-cell {
  width: 100%;
  text-align: center;
}

/* SHOP SECTION!!! */
.mens-catagory {
  display:flex;
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url("../images/mens-category.jpg");
  /* background: linear-gradient(180deg); */
  width: 100%;
  /* flex-basis: <height> | auto; */
  height: 200px;
  /* flex-basis: 100% */
  max-width: 600px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  font-family: 'Raleway Web', sans-serif;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid white;
  border-left: 4px solid white;
  font-size: 1.8rem;
}

.trends-catagory {
  display: flex;
  background:  linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url("../images/trends-category.jpg");
  background-size: cover;
  /* text-align: center; */
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  width: 50%;
  flex-basis: 50%;
  height: 200px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  font-family: Raleway Web, sans-serif;
  font-size: 1.8rem;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

.glasses-catagory {
  display: flex;
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url("../images/glasses-category.jpg");
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 200px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  font-family: Raleway Web, sans-serif;
  font-size: 1.8rem;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-top: 4px solid white;
  border-right: 4px solid white;
}

.sale-catagory {
  display: flex;
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url("../images/sale-category.jpg");
  background-size: cover;
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  width: 50%;
  height: 175px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  font-family: Raleway Web, sans-serif;
  font-size: 1.8rem;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-top: 4px solid white;
}

.bags-catagory {
  display: flex;
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url("../images/bags-category.jpg");
  background-size: cover;
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  width: 50%;
  height: 175px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  font-family: Raleway Web, sans-serif;
  font-size: 1.8rem;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.womans-catagory {
  display: flex;
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url("../images/womens-category.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 175px;
  align-items: center;
  text-shadow: 2px 2px 4px hsla(0,0%,3);
  font-family: Raleway Web, sans-serif;
  font-size: 1.8rem;
  justify-content: center;
  max-width: 600px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.featured {
  font-family: 'Playfair Display Web', serif;
  font-size: 2rem;
  text-align: center;
}
/* .main-carousel { */
  /* color: #e2574c; */
  /* height: 600px; */
  /* border: 40px white; */
/* } */

/* SHOP SECTION END!!!! */
.signup-wrapper{
  font-size: 14px;
  font-family: Raleway Web, sans-serif;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  /* font-family: 20px; */
  /* height: 600px; */
}
h1 {
  font-family: "Playfair Display Web";
}

.updates-section {
  color: white;
  display: flex;
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url(../images/wave-bkgd.jpg);
  /* background: linear-gradient( rgba(0, 0, 0, 0.3) */
  height: 350px;
  font-family: 'Playfair Display Web', serif;
  text-align: center;
  background-position: bottom;
  flex-basis: 100%;
  width: 100%;
  margin-bottom:8px;
  align-items: center;
}

/* Form Style */
.subscribe-form {
  padding: 5px;
  border-radius: 25px;
  /* display: flex; */
  /* border: 1px solid red; */
  background: #fff;
  max-width: 400px;
  margin: auto;
  /* position: auto; */
  justify-content: space-around;
  height: auto;
  /* padding-left: 5px; */
  /* height: 25px; */
}

.subscribe-form input {
  text-rendering: auto;
  width: 270px;
  border: none;
  /* color: black; */
  font-family: 'Raleway Web', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  font-style: normal;
  right:.25rem;
  top: .20rem;
  border-radius: 25px;
  /* padding-left: 10px; */
  /* border: 0; */
}

.subscribe-form button {
  width: 30%;
  border-radius: 30px;
  background-color: #e2574c;
  color: white;
  font-family: 'Raleway Web', sans-serif;
  height: 35px;
  justify-content: space-between;
  position: relative;
  border-radius: 25px;
  /* font: 400 11px; */
  /* margin: auto; */
}

.subscribe-form button:hover {
  background-color: #b64036;
}


.shop-section {
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.address {
  color: #969696;
}

.footer-section {
  font-size: 14px;
  background-color: #242424;
  color: white;
  align-items: space-around;
  width: 100%;
  display: inline-flex;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  font-family: Playfair Display Web, serif;
  vertical-align: baseline;
}

.ul {
  display: none;
}

.social-media ul {
  list-style-type: none;
  font-family: "Raleway Web", sans-serif;
  text-align: right;
  background: #242424;
  color: white;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}

/* Tablet Size */
@media only screen and (min-width: 600px) {
  
  .carousel-cell {
    width: 50%;
  }

  p {font-size: 16px;}
  only-the-finest {font-size: 16px;}
  signup-wrapper {font-size: 16px;}
  footer-section {font-size: 16px;}
  }

@media screen and (min-width: 1240px) {
  .carousel-cell {
    width: 25%;
  }
}
