.aloha-logo {
  height: 50px;
  padding: 15px;
}

.shopping-cart {
  height: 50px;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  font-family: Playfair Display;
}

.nav {
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
  justify-content: space-around;
  color: #e2574c;
  flex: 1 0 auto;
}

a {
  color: #e2574c;
  text-decoration: none;
}

.shop-section a {
  color:white;
}

a:hover {
  color: #b64036;
  /* text-decoration: underline; */
}

element.style {
  color: #b64036;
}

.p {
  font-family: 14px Raleway Light;
}

.banner {
  height: 370px;
  position: relative;
  /* padding: 50px; */
  /* border: 10px;
  margin: 15px; */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-size: cover, 150px 369px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  width: 100%;
  min-width: 600px;
  justify-content: center;
}

.banner-writing {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-family: Playfair Display; Serif;
  /* align-content: center; */
  position: absolute;
  /* position: relative; */
  box-sizing: border-box;
  text-shadow: 2px 2px 4px;
  top: 50%;
  transform: translate( 10%, -50%);
  width: 80%;
}

/* .new-collection [font-family: Playfair Display
  font-size: 14px;] .about {
  color: #2d2d2d;
  max-width: 100%;
  height: 200px;
  padding: 20px;
  text-align: center;
  justify-content: center; */

  /* height: 800px */
}

.season-date {
font-weight: 400px;

}

.h2 {
  font-family: 24px;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  /* box-sizing:border-box; */
  width: 100%;
  min-width: 600px;
  @media only screen and (min-width: 600px);
  /* border: 20px white; */
  /* background-size: cover, cover; */
  /* display: block; */
  /* .mens-catagory {
      background: src="/images/mens-category.jpg); */
}

.h1 {
  text-align: center;
}

.updates-section {
  color: white;
  display: flex;
  background-image: url(../images/wave-bkgd.jpg);
  /* background: linear-gradient( rgba(0, 0, 0, 0.3) */
  height: 350px;
  background-position: bottom;
  flex-basis: 100%;
  width: 100%;
}

.main-carousel {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 1240px;
  color: white;
}

.social-media ul {
  list-style-type: none;
  background: black;
  color: white;
}

/* .container { */
/* display: flex;  */
/* or inline-flex */
/* } */

/* SHOP SECTION!!! */
.mens-catagory {
  background: url("../images/mens-category.jpg");
  background: linear-gradient(180deg);
  width: 100%;
  /* flex-basis: <height> | auto; */
  height: 200px;
  max-width: 600px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid white;
  border-left: 4px solid white;

}

.trends-catagory {
  display: flex;
  background: url("../images/trends-category.jpg");
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 200px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

.glasses-catagory {
  display: flex;
  background: url("../images/glasses-category.jpg");
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 200px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-top: 4px solid white;
  border-right: 4px solid white;
}

.sale-catagory {
  display: flex;
  background: url("../images/sale-category.jpg");
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 175px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-top: 4px solid white;
}

.bags-catagory {
  display: flex;
  background: url("../images/bags-category.jpg");
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 175px;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.womans-catagory {
  display: flex;
  background: url("../images/womens-category.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 175px;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-top: 4px solid white;
}

.main-carousel {
  color: #e2574c;
}

/* SHOP SECTION END!!!! */
.signup-wrapper{
  font-family: 20px;
  /* height: 600px; */
}

/* Form Style */
.subscribe-form {
  padding: 12px;
  border-radius: 25px;
  display: flex;
  border: 1px solid red;
  background: #fff;
  max-width: 400px;
  margin: auto;
  position: relative;
  justify-content: space-between;
  /* height: 25px; */
}

.subscribe-form input {
  width: 123px;
  border: none;
  color: black;
  font-family: Raleway Web, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  font-style: normal;
  right:.25rem;
  top: .25rem;
  /* padding: .2rem 1rem; */


  /* height: 30px; */
}

.subscribe-form button {
  width: 25%;
  border-radius: 25px;
  background-color: #e2574c;
  color: white;
  height: 32px;
  justify-content: space-between;
  position: relative;
  /* margin: auto; */

}

.subscribe-form button:hover {
  background-color: #b64036;

}


.shop-section {
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.address {
  color: #969696;
}

.footer-section {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: Playfair Display Web, serif;
}

@media only screen and (min-width: 600px)
.footer-section {
display: flex;
text-align: center;
justify-content: space-between;

}

/* @media screen and (min-width: 600px) {
  .header {
  
  } */
/* .someclass {
    /* css properties */
/* } */

/* @media screen and (max-width: 900px) {
  body {
  .banner: {
   display:flex: 
   flex-wrap:no-wrap.  ;
  }
} */
